*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
   --primary-color: #fff;
   --secondary-color : rgb(226, 11, 93);
}

body{
    color: black;
    overflow-x: hidden;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: lighter;
	/* background-color: black; */
	overflow: hidden;
}

.flex{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    align-items: center;
    height : 100%;
    flex-wrap: top;
}

nav{
    /* display: flex; */
    justify-content: flex-end;
}

nav ul{
    list-style: none;
    /* display: flex; */
    justify-content: flex-end;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

nav ul li{
    padding:15px 10px;
}

nav ul li a:hover{
     font-weight: bold;

}

.container{
    margin: 20px auto;
    width: 1100px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.logo-block img{
    height: 100px;
}

form .input-block{
    margin: 15px auto;
    width: 500px;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.451);
    padding:5px 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	background-color: white;
}
form .input-block input{
    width: 100%;
    border: 0;outline: 0;
    padding: 5px 10px;
    font-size: 15px;
}

form input[type='submit']{
    /* width: 100px; */
    height: 35px;
    border: 0;outline: 0;
    margin: 5px 10px;
    padding: 4px 8px;
}
.languages{
    margin-top: 15px;
}
.btn-cnt{
    /* display: flex; */
    justify-content: center;
	
}

.btn-cnt .btn{
	margin-right: 35px;
	border: 1px solid rgb(11, 10, 10);
	padding: 5px;
    animation: slideInfromLeft 1s ease-in;
    
}

.btn-cnt .btn:hover{
    /* background-color: var(--secondary-color); */
    cursor: pointer;
    transform: scale(0.94);
}

.btn-cnt a{
   margin-left: 35px;
   background-color: rgba(233 230 230 / 86%);
   box-sizing: border-box;
   padding: 5px;
   align-items: center;
   border: 1px solid rgb(11, 10, 10);
   animation: slideInfromRight 1s ease-in;
}

.btn-cnt a:hover{
    /* background-color: var(--secondary-color); */
    transform: scale(0.94);
}

i.fa.fa-search{
    color: grey;
}
i.fa.fa-microphone{
    color: orangered;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer >.row{
    background-color: rgba(100, 99, 99, 0.126);
    width: 100%;
    padding: 10px;
    /* border: 1px solid black; */
}

.text{
    margin-left: 10px;
}

footer>.row ul{
    display: flex;
    list-style: none;
}
footer>.row ul li{
    padding: 4px 0px 4px 12px;
}
.row.bottom{
    display: flex;
    justify-content: space-between;
    
}

/* .lang{
     display: flex;
}

.languages{
	display: flex;   
} */
.go{
    display: flex;
}


.go .lang{
    padding-top: 20px; 
     align-items: center;
}

.go .languages a
{
    margin: 10px;
}

@keyframes slideInfromLeft {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}
@keyframes slideInfromTop {
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
}
@keyframes slideInfrombottom {
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0);
    }
}
@keyframes slideInfromRight {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0);
    }
}

@media(max-width:768px){
   
}

/* Mobile */
@media(max-width: 500px){
  nav{
      height: 110px;
      
    }
    nav{
     flex-direction: column;
    }
    .nav ul{
      padding: 10px 0px;
      /* background-color: #fff; */
    }
    nav ul li a{
        color: #fff;
    }
}



